@import '../../../node_modules/normalize.css/normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Source+Serif+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sunshiney&display=swap");
html {
  font-size: 100%;
  color: rgb(19, 19, 19);
}

body {
  line-height: 1.4;
  color: rgb(19, 19, 19);
}

h1 {
  font-size: 3em;
  margin-bottom: 1.848rem;
  font-family: "Cinzel", cursive;
  border-bottom: 4px double #ccc;
}

h2 {
  font-family: "Cinzel", cursive;
}

p {
  font-size: 1.1rem;
  margin-bottom: 1.54rem;
  font-family: "Source Serif Pro", serif;
}

a {
  color: rgb(19, 19, 19);
}

a:hover {
  color: #cf142b;
}

.main {
  max-width: 67rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (min-width: 64em) {
  html {
    font-size: 112.5%;
  }
}
body {
  background-color: lightgray;
}

/* main h1 {
    border-bottom: 1px double #8a8a8a;
} */
main {
  margin: 0 auto;
  max-width: 800px;
}

main.left {
  border-right: 10px double #9c867e;
}

/** two_column_layout.css */
.two-col-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}

.two-col-layout > .main {
  width: 75%; /* 12/16 width */
}

.two-col-layout > .aside {
  width: 25%; /* 4/16 width */
}

.aside {
  margin: 0 auto;
  color: rgb(19, 19, 19);
  padding: 0.5em;
  overflow: auto;
}

.h250f {
  height: 250px;
}

.h250 {
  max-height: 250px;
}

.h300 {
  max-height: 300px;
}

.h500f {
  height: 500px;
}

.h500 {
  max-height: 500px;
}

.w100p {
  width: 100%;
}

header {
  width: 100%;
}

.site-header {
  max-height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.site-title {
  font-size: 2.4rem;
}

.site-nav ul {
  display: flex;
  margin: 2.1rem;
}

.site-nav li {
  margin-right: inherit;
  margin-bottom: inherit;
  color: #000;
  font-size: 1.4rem;
}

.site-nav li:hover {
  color: #730202;
}

.site-nav a:hover {
  color: #730202;
}

a:visited {
  color: #000;
}

.site-nav li:target {
  color: #000;
}

.figure {
  display: inline-block;
  margin: 0;
  padding: 0.5em;
}
.figure .left {
  float: left;
  margin-right: 1em;
}

.figure img {
  max-width: 100%;
}

.figure figcaption {
  caption-side: bottom;
  font-style: italic;
  padding-top: 1em;
  font-size: 0.8em;
}

.figure.right {
  float: right;
  margin-left: 1em;
}

.figure.center {
  display: block;
  text-align: center;
}

.site-footer {
  border-top: 10px double #9c867e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.site-links {
  width: 40%;
}

.copy {
  width: 20%;
}

.adress {
  width: 40%;
}
