body {
    background-color: lightgray;
}

/* main h1 {
    border-bottom: 1px double #8a8a8a;
} */


main {
    margin: 0 auto;
    max-width: 800px;
}

main.left {
    border-right: 10px double $background-color-main;
}


/** two_column_layout.css */

.two-col-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width:800px;
    margin: 0 auto;
}

.two-col-layout > .main {
    width: calc(100% / 16 * 12); /* 12/16 width */
}

.two-col-layout > .aside {
    width: calc(100% / 16 * 4); /* 4/16 width */
}

.aside {
    margin: 0 auto;
    color: $font-color;
    padding: 0.5em;
    overflow: auto;
}
