
.site-nav ul {
    display: flex;
    margin: 2.1rem;
}

.site-nav li {
    margin-right: inherit;
    margin-bottom: inherit;
    color: #000;
    font-size: 1.4rem;
}

.site-nav li:hover {
    color: #730202;

}
.site-nav a:hover {
    color: #730202;

}

a:visited {
    color: #000;
}

.site-nav li:target {
    color: #000;
}
