$font-color: rgb(19, 19, 19);
$font-dark-color: rgb(245, 244, 244);
$accent-color: #ee6c4d;
$background-color-main: #9c867e;
$background-color-main-1: #e8bfb0;
$background-color-main-2: #9c8e5f;
$background-color-main-3: #e8d699;  
$background-color-main-4: #a5d1e8cc;
$color-contrast: rgb(251, 251, 251);

$base-line-hight: 1.4;
$base-font-size: 1.1rem;
$magic-number: $base-line-hight * $base-font-size;
