{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <div class="two-col-layout">
    <main class="main left">
        <article class="article">
                <header>
                    <h1>MVC</h1>
                </header>
                <figure class="figure right">
                    <img src="{{ asset('img/datanord.jpg') }}" width="250" alt="Bild på hur jag ser ut under kursen">
                    <figcaption>Hur jag känner mig under kursen</figcaption>
                </figure>
                <p>Kursen Objektorienterade webbteknologier, a.k.a. mvc, fokuserar på objektorienterade programmeringstekniker i programmeringsspråket PHP. Klassiska objektorienterade konstruktioner hanteras tillsammans med objektorienterad programmering i webbaserat ramverk tillsammans med databaser samt enhetstestning.</p>
        </article>
    </main>
        <aside class="aside right">    
                <h4>Länk till kursens GitHub sida</h4>
                    <li><a href="https://github.com/dbwebb-se/mvc">GitHub - DBWEBB MVC</a></li>
                    <li><a href="https://github.com/JoakimHellman/mvc">GitHub - Mitt repo för MVC</a></li>
        </aside>
</div>
{% endblock %}