{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <article class="article">
        <header>
            <h1>Om Mig Själv</h1>
            <p class="author">Skriven av Joakim Hellman, uppdaterad <time datetime="2022-06-29">2022-09-08</time>.</p>
        </header>
        <figure class="figure right">
            <img src="{{ asset('img/jag_liten.jpg') }}" alt="Bild på mig" width="250">
            <figcaption>Joakim Hellman när han försöker se snäll ut.</figcaption>
        </figure>
        <p>Jag heter Joakim och jag har hunnit bli 32år gammal. Jag bor på Malta tillsammans med min fru sedan november förra året. Vi flyttade hit för hon fick ett jobb på ett EU-huvudkontor som finns här.<br>
        Jag har sedan flytten studerat på distans och i våras läste jag företagsekonomikurser på Uppsala Univerisitet.</p>
        <p>Jag är i grunden officer och har framförallt jobbat inom Flygvapnet på Helikopterflottiljen i Linköping.<br>
        Där har jag varit chef för, i huvudsak, det som kallas för Sambandstropp. En sambandstropp ansvarar för den tekniska infrastrukturen och alla de tekniska system som finns på flygplatsen, antingen den stora fasta flygplatsen i t.ex. Linköping eller på en tillfällig flygplats som upprättas ¨i skogen¨.</p>
        <p>Genom att ha varit chef på sambandstroppar har jag kommit i kontakt med terminal och diverse olika typer av system. Det har dock inte varit mitt ansvar att de facto jobba i systemen, det gör specialistofficerarna och teknikerna. Men eftersom jag jobbat tillsammans med dem så blir jag inte livrädd när den ¨svarta rutan¨ dyker upp.</p>
        <p>Jag har ett stort intresse av fotboll och försöker förlja det så mycket jag kan. Men det bästa som finna är att umgås med vänner och familj, gärna tillsammans med god mat och dryck antingen på härliga restauranger, hemma eller allra bäst ute i naturen. Jag älskar att fiska, tälta, vandra och vara i naturen. Tyvärr finns det inte särskilt mycket natur att prata om här på Malta. Istället blir det sol, bad, dykning och snorkling, vilket självklart inte är så dumt det heller... :) </p>
    </article>
{% endblock %}