@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Source+Serif+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sunshiney&display=swap');

html {
    font-size: 100%;
    color: $font-color;
}

body {
    line-height: $base-line-hight;
    color: $font-color;
}

h1 {
    font-size: 3em;
    margin-bottom: $magic-number * 1.2;
    font-family: 'Cinzel', cursive;
    border-bottom: 4px double #ccc;
}

h2 {
    font-family: 'Cinzel', cursive;
}

p {
    font-size: $base-font-size;
    margin-bottom: $magic-number;
    font-family: 'Source Serif Pro', serif;
}

a {
    color: $font-color;
}

a:hover {
    color: #cf142b;
}

.main {
    max-width: 67rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (min-width: 64em) {
    html {
        font-size: 112.5%;
    }
}
