<footer class="site-footer">
    
    <span class="site-links">
        <nav>
            <ul>
                <a href="{{ path('home') }}">Home</a><br>
                <a href="{{ path('about') }}">About</a><br>
                <a href="{{ path('report') }}">Report</a><br>
                <a href="{{ path('lucky_number') }}">Lucky number</a><br>
            </ul>
        </nav>
    </span>
    
    <span class="copy">
    <figcaption>Denna sidan är Copyright &copy; av mig.</figcaption>
        </span>

    <span class="adress">
        <p>Megavägen 123</p>
        <p>123 45 Stockholm</p>
        <p>Sweden</p>
    </span>
    
</footer>
