{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Report</h1>
    <a href="#kmom01">kmom01</a>
    <a href="#kmom02">kmom02</a>
    <a href="#kmom03">kmom03</a>
    <a href="#kmom04">kmom04</a>
    <a href="#kmom05">kmom05</a>
    <a href="#kmom06">kmom06</a>

    <h2 id="kmom01">kmom01</h2>
        <li>
            Jag har inte så mycket erfarenhet av objektorienterad programering. Jag påbörjade kursen objektorienterad Python men har bara gjort de två första kursmomenten. Den bild jag har av det är att det kan vara mycket effektivt i vissa applikationer men att det gäller att hålla koll och verkligen strukturera all sin kod nogrannt, för det blir lätt väldigt invecklat och svårt.
        </li>
        <li>
        Objekt i PHP kan vara mutable eller immutable, alltså att de kan förändra efter att de skapats eller inte. Objekt kan antingen skapas genom den fördefinierade klassen stdClass eller genom en egenskapad klass.<br>
        Klasser i PHP fungerar på liknande sätt som jag lärt mig tidigare i andra språk, men i PHP är det enklare att sätta variabler och funktioner till privata eller publika genom att ange det innan variabeln eller funktionen.
        </li>
        <li>
        Jag känner mig inte riktigt vän med kodbasen och strukturen ännu. Jag har haft det lite svårt att hitta vart sakerna ska sparas och hur man skriver "twig-kod".
        </li>
        <li>
        Kapitel 6 "Coding Practices" verkar intressant och användbart. Jag skulle särskilt vilja lära mig mer om "date and time" och "gettext". Sen har vi jobbat och pratat väligt lite om säkerhet och om att skydda sig från intrång eller manupulation så kapitel 11 "Security" hade varit intressant och nödvändigt att lära sig mer om.
        </li>
        <li>
        TIL: Det är bra att repitera det man lärt sig från tidigare kurser. Att jobba med Git och även att igen använda SCSS känns bra. Jag ska fortsätta försöka implementera saker som jag lärt mig från tidigare kurser för att befästa konskaperna.
        </li>

{% endblock %}
